server:
    port: 8081
    servlet:
        session:
            tracking-modes: COOKIE

spring:
    config:
        activate:
            on-profile: embeded
    datasource:
        driver-class-name: org.h2.Driver
        username: sa
        password:
        url: jdbc:h2:mem:testdb
    jpa:
        hibernate:
            ddl-auto: create
        show-sql: true
        properties:
            hibernate:
                format_sql: true
                default_batch_fetch_size: 100
    thymeleaf:
        cache: false
