<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common/head :: head}">
    <title></title>
    <!-- JQUERY 회원가입 / 댓글작성 -->
    <script th:src="@{/js/jquery-3.6.0.min.js}" src="/static/js/jquery-3.6.0.min.js" rel="script" type="text/javascript"></script>
    <script th:src="@{/js/summernote-lite.min.js}"></script>
    <script th:src="@{/js/summernote-ko-KR.min.js}"></script>
    <link th:href="@{/css/summernote-lite.min.css}" rel="stylesheet">

</head>

<body>

<div class="container">
    <nav th:replace="common/header :: header"></nav>
    <form class="mt-5" th:action method="post" th:object="${postData}">
        <div class="row">
            <div class="col-4">
                <div class="mb-3">
                    <label for="author" class="form-label">작성자</label>
                    <input type="text" class="form-control" id="author" th:field="*{userNickname}" disabled>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" th:field="*{title}">
        </div>
        <div class="mt-3">
            <label for="mainText" class="form-label">내용</label>
            <textarea class="summernote" id="mainText" rows="3" th:field="*{contents}"></textarea>
            <input type="hidden" th:field="*{userId}">
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-auto">
                <button class="btn btn-success" type="submit">작성완료</button>
            </div>
            <div class="col-auto">
                <a class="btn btn-danger" onclick="cancelPost()">
                    작성취소
                </a>
            </div>
        </div>
    </form>
</div>

<script>
    $(".summernote").summernote({
        height:400,
        id:'',
        lang: "ko-KR",
        callbacks: {
            onImageUpload: function (file) {
                uploadImage(file[0],this);
            },
            onPaste: function (e) {
                let clipboardData = e.originalEvent.clipboardData;
                if (clipboardData && clipboardData.items && clipboardData.items.length) {
                    let item = clipboardData.items[0];
                    if (item.kind === 'file' && item.type.indexOf('image/') !== -1) {
                        e.preventDefault();
                    }
                }
            }
        }
    })

    function uploadImage(file, editor) {
        let data = new FormData();
        data.append("file",file);
        $.ajax({
            data:data,
            type:"post",
            url:"/post/uploadImage",
            contentType:false,
            processData:false,
            success:function (data) {
                $(editor).summernote('insertImage',data.url);
            }
        })
    }

    function cancelPost() {
        const form = document.querySelector("body > div.container > form > div:nth-child(3) > div > div.note-editing-area > div.note-editable")
        const html = form.innerHTML
        const images = html.match(/(\w+-){4}\w+.\w+/g)

        if (images == null || images.length === 0) {
            location.href = "/board";
            return;
        }

        const deleteImages = {"deleteImages" : images}

        $.ajax({
            data:JSON.stringify(deleteImages),
            type:"post",
            dataType:"json",
            contentType: "application/json",
            url:"/post/deleteImage",
            success:function () {
                location.href = "/board"
            },
            error: function () {
                location.href = "/board"
            }
        })
    }
</script>
</body>
</html>